rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null
        && request.auth.uid == 'FGmxXhvrahb1KGV9NCy6oikmSfH3';
    }

    match /events/{eventId} {
      allow read, create, update, delete: if isAdmin();

      match /{document=**} {
        allow read, create, update, delete: if isAdmin();
      }
    }
  }
}
